<h2>Editar Participante</h2>

<form method="POST">
    {% csrf_token %}
    <label>Nome:</label>
    <input type="text" name="nome" value="{{ participante.nome }}" required>

    <label>Email:</label>
    <input type="email" name="email" value="{{ participante.email }}" required>

    <label>Telefone:</label>
    <input type="text" name="telefone" value="{{ participante.telefone }}">

    <button type="submit">Salvar alterações</button>
</form>

<a href="{% url 'evento_detalhe' participacao.evento.id %}">Voltar</a>
