<h1>{{ evento.nome }}</h1>
<p>{{ evento.descricao }}</p>

<p><strong>Início:</strong>
   {{ evento.data_inicio|date:"d/m/Y H:i" | default:"" }}
</p>

<p><strong>Fim:</strong>
   {{ evento.data_fim|date:"d/m/Y H:i" | default:"" }}
</p>

<p><strong>Organizador:</strong> {{ evento.organizador.username }}</p>

<hr>

<a href="{% url 'editar_evento' evento.id %}">Editar</a>
<a href="{% url 'excluir_evento' evento.id %}">Excluir</a>
<a href="{% url 'lista_eventos' %}">Voltar</a>

<hr>

<h2>Participantes</h2>

<a href="{% url 'adicionar_participante' evento.id %}">
    <button>➕ Adicionar participante</button>
</a>

<ul>
    {% for p in evento.participacoes.all %}
        <li>
            {{ p.participante.nome }} — {{ p.participante.email }}

            <a href="{% url 'editar_participante' p.id %}">✏ Editar</a>
            <a href="{% url 'remover_participante' p.id %}"
               onclick="return confirm('Remover este participante?')">❌ Remover</a>
        </li>
    {% empty %}
        <li>Nenhum participante inscrito.</li>
    {% endfor %}
</ul>